# ignore everything by default
**
# allow JS files
!*.ts
!*.js
!*.json
!pnpm-lock.yaml
!pnpm-workspace.yaml


# nextjs files
!apps/
!apps/*/*.js
!apps/*/*.json
!apps/*/*.ts
!apps/*/.next/
!apps/*/public/
!apps/*/src/

!public/
!src/
!.next/

# this is for the new docker file...
!.gitignore

